<h1>Edit Change Room</h1>

<%= form_with(model: @change_room, local: true) do |f| %>
  <div>
    <%= f.label :reason %>
    <%= f.text_area :reason %>
  </div>

  <div>
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Back to Change Rooms", change_rooms_path, class: "btn btn-secondary" %>
