<h1>Check-Ins</h1>

<table>
  <thead>
    <tr>
      <th>Guest Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>ID Type</th>
      <th>ID Number</th>
      <th>Gender</th>
      <th>Purpose</th>
      <th>Arrival and Departure</th>
      <th>Note</th>
      <th>Check-in Date</th>
      <th>Check-in Time</th>
      <th>No of Day</th>
      <th>Check-out Date</th>
      <th>Check-out Time</th>
      <th>Total Charges</th>
      <th>Number of Adults</th>
      <th>Number of Children</th>
      <th>Bed</th>
      <th>Room Detail</th>
      <th>Room Type</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @check_ins.each do |check_in| %>
      <tr>
        <td><%= check_in.guest_name %></td>
        <td><%= check_in.address %></td>
        <td><%= check_in.phone_number %></td>
        <td><%= check_in.id_type %></td>
        <td><%= check_in.id_number %></td>
        <td><%= check_in.gender %></td>
        <td><%= check_in.purpose %></td>
        <td><%= check_in.arrival_and_departure %></td>
        <td><%= check_in.note %></td>
        <td><%= check_in.check_in_date %></td>
        <td><%= check_in.check_in_time %></td>
        <td><%= check_in.no_of_day %></td>
        <td><%= check_in.check_out_date %></td>
        <td><%= check_in.check_out_time %></td>
        <td><%= number_to_currency(check_in.total_charges) %></td>
        <td><%= check_in.number_of_adults %></td>
        <td><%= check_in.number_of_children %></td>
        <td>
        <% # Fetch the corresponding bed details based on the bed_id %>
        <% bed = Bed.find_by(id: check_in.bed_id) %>
        <%= bed ? "#{bed.bed_size}, #{bed.price}" : "Bed details not found" %>
        </td>
      


        <td>
        <% # Fetch the corresponding room details based on the room_detail_id %>
        <% room_detail = RoomDetail.find_by(id: check_in.room_detail_id) %>
        <%= room_detail ? "#{room_detail.room_no}, #{room_detail.rent_per_day}" : "Room details not found" %>
      </td>
        <td><%= check_in.room_type_id %></td>
        <td><%= link_to 'Show', check_in %></td>
        <td><%= link_to 'Edit', edit_check_in_path(check_in) %></td>
        <td><%= link_to 'Delete', check_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check-In', new_check_in_path %>
