<h1>Edit Room Detail</h1>

<%= form_with(model: @room_detail, local: true) do |form| %>
  <% if @room_detail.errors.any? %>
    <div>
      <h2><%= pluralize(@room_detail.errors.count, 'error') %> prohibited this Room Detail from being saved:</h2>
      <ul>
        <% @room_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :room_no, 'Room Number' %>
    <%= form.number_field :room_no %>
  </div>

  <div>
    <%= form.label :rent_per_day, 'Rent per Day' %>
    <%= form.number_field :rent_per_day %>
  </div>

  <div>
    <%= form.label :room_type_id, 'Room Type' %>
    <%= form.collection_select(:room_type_id, RoomType.all, :id, :room_type, prompt: 'Select Room Type') %>
  </div>

  <div>
    <%= form.submit 'Update Room Detail' %>
  </div>
<% end %>

<%= link_to 'Back', room_details_path %>
